.navbar{
    background-color: #08989F;
    height: 70px;
}

a.navbar-brand, a.navbar-brand:hover{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

a.nav-link{
    color: white !important;
    margin-inline: 20px;
    font-family: 'Poppins';
}

button.btn.btn-login{
    width: 90px;
    color: #fff;
    background-color: #F06205;
}

button.btn.btn-signup{
    width: 120px;
    color: #fff;
    background-color: transparent;
    border: 1px solid white;
}

.banner {
    position: relative;
    height: 300px;
    width: 100%;
    background: url(src/account_cover.png);
    background-size: 100% 100%;
    box-sizing: border-box;
  }


  .profile {
    position: absolute;
    height: 156px;
    width: 156px;
    border: 5px solid silver;
    border-radius: 50%;
    bottom: 0;
    left: 50px;
    transform: translateY(50%);
    box-shadow: inherit;
  }
/* .cover{
    background-image: url(src/account_cover.png);
    height: 300px;
} */
