button.btn.btn-createnewtopic{
    width: 200px;
    color: #fff;
    background-color: #08989F;
    margin-top: 3%;
    margin-bottom: 1%;
    align-items: end;
}

.right-column{
    background-color: white;
    border-radius: 10px;
}

button.btn.btn-topic{
    width: 100%;
    padding-block: 12px;
    color: #fff;
    background-color: #F06205;
    margin-top: 3%;
    margin-bottom: 1%;
}