/* NAVBAR */
.navbar{
    background-color: #08989F;
    height: 70px;
}
a.nav-link{
    color: white !important;
    margin-inline: 20px;
    font-family: 'Poppins';
}

button.btn.btn-login{
    width: 90px;
    color: #fff;
    background-color: #F06205;
}

button.btn.btn-signup{
    width: 120px;
    color: #fff;
    background-color: transparent;
    border: 1px solid white;
}


input.form-control{
    width: 30rem;
}

#search-section form {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    height: 50px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, .13);
}

.outbox {
    height: 500px;
}

.form-control:active,
.form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

a.navbar-brand, a.navbar-brand:hover{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

/* BANNER SEARCH */
p.h1.welcome, p.h1.brand, p.h1.start{
    font-family: 'Quicksand', sans-serif; 
}
p.h1.welcome{
    font-size: clamp(2rem, 3vw, 4rem);
    color: white;
    font-weight: bold;
}
p.h1.brand{
    color: #F06205;
    font-weight: bold;
    font-size: clamp(5rem,7vw, 8rem);
    text-shadow: 2px 1px 2px rgba(81, 81, 81, 0.8);
}
p.h1.start{
    font-size: clamp(1.25rem, 1.5vw, 2rem);
    color: white;
}
button.btn.search{
    width: 90px;
    padding: 10px;
    color: #fff;
    background-color: #F06205;
}

/* INSIDE CONTENT */
hr{
    height: 2px;
    color: #878787;
    background-color: #878787;
}
p.label{
    font-family: 'Open Sans';
}

p.label.h1 {
    font-family: 'Open Sans';
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: 600;
    color: black;

}
    /* FOR POST CARDS */
    .card{
        /* margin: 10px; */
        margin: 0 auto;
    }
    p.card-text.category{
        color: #909090;
        font-size: clamp(12px, 1vw, 14px);
        font-weight: 500;
        margin-bottom: 0px;
    }
    h5.card-title.post{
        font-family: 'Quicksand';
        font-weight: bold;
        font-size: clamp(20px, 1vw, 30px);
    }
    .card-img-top {
        width:clamp(5rem, 10vw, 12rem) ;
        height:clamp(9rem, 1vw, 10rem) ;
        object-fit: cover;
    }
    .card-body.post{
        height:clamp(6rem, 1vw, 8rem);
        padding-top: 10px;
    }

    /* FOR TOPIC CARDS */
    .card-title.topic{
        color: #F06205;
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: clamp(20px, 1.5vw, 30px);
    }

    .card-text.topic{
        color: #828282;
        font-weight: 500;
        font-size: clamp(12px, 1vw, 14px);
    }

    p.author, p.date-time, p.comment, p.like {
        font-size: clamp(12px, 1vw, 14px);
        font-weight: 500;
    }


/* FOOTER */
ul{
    list-style-type: none;
}

.footer{
    background-image: url(images/footer_bg.png);
}