
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    zoom: 80%;
    overflow-x: hidden; 
    scrollbar-width: thin;
    scrollbar-color: #606060 #f0f0f0;
}

/* scroll bar */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #606060;
}

body::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

/* Header */
header {
    width: 100%;
    height: 90px;
    background-color: #08989F;
    color: white;
    text-align: center;
    line-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 101px;
}

.logo img {
    width: 87px;
    height: 90px;
    display: block;
}

.Webtitle {
    margin-left: -250px;
}

.Webtitle h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 50px;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.auth-buttons button.signin-btn {
    margin-left: -200px;
    margin-right: 22px;
    background-color: #F06205;
    color: white;
    border: none;
    border-radius: 10px;
    width: 102px;
    height: 48px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.auth-buttons button.signin-btn:hover {
    background-color: #D84315;
}

.auth-buttons button.signup-btn {
    margin-right: 21px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 161px;
    height: 48px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.auth-buttons button.signup-btn:hover {
    background-color: rgba(240, 98, 5, 0.1);
}

/* Content */
.content {
    position: relative;
}

/* text */

.welcome-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 80px;
    font-weight: 500;
    color: #fff; 
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.upcycle-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 200px;
    font-weight: 700;
    color: #F06205; 
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.upcycle-description {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #fff; 
    margin: 0;
    text-align: center;
}

.create-and {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 120px;
    font-weight: 700;
    color: #00757E; 
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    z-index: 1;
    line-height: 127.5px;
}

.through-well {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #000000; 
    margin: 0;
    text-align: center;
    z-index: 1;
    line-height: 40px;
}

.engage-in {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 120px;
    font-weight: 700;
    color: #00757E; 
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    z-index: 1;
    line-height: 127.5px;
}

.through2-well {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #000000; 
    margin: 0;
    text-align: center;
    z-index: 1;
    line-height: 40px;
}

.create-your {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 120px;
    font-weight: 700;
    color: #EC5300; 
    margin: 0;
    text-align: center;
    z-index: 1;
    line-height: 127.5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.join-our {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #000000; 
    margin: 0;
    text-align: center;
    z-index: 1;
    line-height: 40px;
}

/* button */

.signin2-btn,
.signin3-btn,
.signin4-btn,
.signup2-btn {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    z-index: 1;
}

.signin2-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    border: none;
    background-color: #F06205;
    cursor: pointer;
}

button.signin2-btn:hover {
    background-color: #D84315;
}

.signin3-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    border: none;
    background-color: #F06205;
    cursor: pointer;
}

button.signin3-btn:hover {
    background-color: #D84315;
}

.signin4-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    border: none;
    background-color: #F06205;
    cursor: pointer;
    z-index: 1;
}

button.signin4-btn:hover {
    background-color: #D84315;
}

.email-input {
    width: 80%;
    left: 50%;
    background-color: transparent;
    border: 3px solid #000000;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    font-size: 48px;
    align-items: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.signup2-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    border: none;
    background-color: #00757E;
    cursor: pointer;
    z-index: 1;
}

.signup2-btn:hover {
    background-color: #005c63;
}

/* images */
.bg1,
.c1,
.bg2,
.bg3,
.c2,
.c3,
.c4,
.join-img,
.last {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1200px) {
    body {
        zoom: 100%;
    }

    .logo {
        margin-left: 20px;
    }

    .Webtitle {
        margin-left: -150px;
    }

    nav li {
        margin-left: 20px;
        margin-right: 20px;
    }

    .auth-buttons button.signin-btn {
        margin-left: -100px;
    }

    .welcome-text,
    .upcycle-text,
    .upcycle-description,
    .create-and,
    .through-well,
    .engage-in,
    .through2-well,
    .create-your,
    .join-our,
    .signin2-btn,
    .signin3-btn,
    .signin4-btn,
    .email-input,
    .signup2-btn {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 16px;
    }
    
    .content {
        position: relative;
        height: auto;
    }

    /* Adjust image sizes and positions */
    .content img {
        max-width: 100%;
        height: auto;
    }

    .c1, .bg2, .bg3, .c2, .c3, .c4, .join-img, .last, .bg1 {
        top: auto;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
    }
}
