
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    zoom: 80%;
    overflow-x: hidden; 
    scrollbar-width: thin;
    scrollbar-color: #606060 #f0f0f0;
}

/* scroll bar */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #606060;
}

body::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

/* Header */
header {
    width: 100%;
    height: 90px;
    background-color: #08989F;
    color: white;
    text-align: center;
    line-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    margin-left: 5%;
}

.logo img {
    width: 87px;
    height: 90px;
}

.Webtitle {
    margin-left: 3%;
    margin-top: -50px;
}

.Webtitle h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

nav {
    margin-top: -45px;
    margin-left: auto;
    margin-right: 3%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 100px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.auth-buttons {
    margin-top: -45px;
    margin-right: 3%;
}

.auth-buttons button.signin-btn {
    margin-right: 10px;
    background-color: #F06205;
    color: white;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 48px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.auth-buttons button.signin-btn:hover {
    background-color: #D84315;
}

.auth-buttons button.signup-btn {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 120px;
    height: 48px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.auth-buttons button.signup-btn:hover {
    background-color: rgba(240, 98, 5, 0.1);
}

.burger-menu {
    font-size: 25px;
    cursor: pointer;
    margin-top: -40px;
    margin-left: 3%;
}

/* Content */
.content {
    width: 80%;
    margin: 0 auto; /* Center the content */
}

/* text */
.welcome-text,
.upcycle-text,
.upcycle-description,
.create-and,
.through-well,
.engage-in,
.through2-well,
.create-your,
.join-our,
.signin2-btn,
.signin3-btn,
.signin4-btn,
.email-input,
.signup2-btn {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.welcome-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 80px;
    font-weight: 500;
    color: #fff; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.upcycle-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 200px;
    font-weight: 700;
    color: #F06205; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.upcycle-description {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #fff; 
    text-align: center;
}

.create-and {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 120px;
    font-weight: 700;
    color: #00757E; 
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    z-index: 1;
    line-height: 127.5px;
}

.through-well {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #000000; 
    text-align: center;
    z-index: 1;
    line-height: 40px;
}

.engage-in {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 120px;
    font-weight: 700;
    color: #00757E; 
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    z-index: 1;
    line-height: 127.5px;
}

.through2-well {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #000000; 
    text-align: center;
    z-index: 1;
    line-height: 40px;
}

.create-your {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 120px;
    font-weight: 700;
    color: #EC5300; 
    text-align: center;
    z-index: 1;
    line-height: 127.5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.join-our {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #000000; 
    text-align: center;
    z-index: 1;
    line-height: 40px;
}

/* button */

.signin2-btn,
.signin3-btn,
.signin4-btn,
.signup2-btn {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    z-index: 1;
}

.signin2-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    border: none;
    background-color: #F06205;
    cursor: pointer;
}

button.signin2-btn:hover {
    background-color: #D84315;
}

.signin3-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    border: none;
    background-color: #F06205;
    cursor: pointer;
}

button.signin3-btn:hover {
    background-color: #D84315;
}

.signin4-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    border: none;
    background-color: #F06205;
    cursor: pointer;
    z-index: 1;
}

button.signin4-btn:hover {
    background-color: #D84315;
}

.email-input {
    width: 80%;
    left: 50%;
    background-color: transparent;
    border: 3px solid #000000;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    font-size: 48px;
    align-items: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.signup2-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    border: none;
    background-color: #00757E;
    cursor: pointer;
    z-index: 1;
}

.signup2-btn:hover {
    background-color: #005c63;
}

/* images */
.bg1,
.c1,
.bg2,
.bg3,
.c2,
.c3,
.c4,
.join-img,
.last {
    width: 100%;
    max-width: 100%;
    height: auto;
}


@media screen and (max-width: 800px) {
    .logo {
        margin-left: 5%;
    }

    .Webtitle {
        margin-left: 3%;
    }

    .burger-menu {
        margin-left: 3%;
    }

    .auth-buttons {
        display: none;
    }
}


@media screen and (max-width: 1275px) {

    nav {
        margin-top: 0;
        margin-left: 0;
    }

    nav ul {
        display: none; /* Hide the nav links by default on smaller screens */
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        background-color: #08989F;
        text-align: center;
    }

    nav ul.active {
        display: flex; /* Show the nav links when the menu is active */
    }

    nav li {
        margin: 10px 0;
    }
}



@media screen and (min-width: 1274px) {
    nav ul {
        display: flex !important;
    }

    .burger-menu {
        display: none;
    }
}



