/* Modified by Carl Andrei D. Lambino BSCOE 3-4 */

/* scroll bar */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #606060;
}

body::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

/* Header styles */
.landing-header {
    background-color: #08989F;
    padding: 15px 0;
}

.header-container {
    max-width: 1920px;
    max-height: 90px;
    margin: 0 auto;
}

.align-container {
    display: flex;
    align-items: center; 
}

/* Logo styles */
.col-logo {
    margin-left: 101px;
    flex: 0 0 87px;
}

.logo img {
    max-width: 87px;
    height: 90px;
}

/* Web title styles */
.col-webtitle {
    flex-grow: 1;
}

.Webtitle {
    margin-left: 43px;
}

.Webtitle h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-weight: 700; 
    color: #fff;
}

/* Navigation styles */
.nav {
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 50px;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

/* Authentication buttons styles */
.col-auth {
    flex: 0 0 150px; /* Set a fixed width for the authentication buttons column */
}

.auth-buttons {
    display: flex;
    margin-right: 60px;
    justify-content: flex-end;
}

.btn-signin,
.btn-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-signin {
    color: #fff; 
    background-color: #F06205;
    width: 102px;
    height: 48px;
}

.btn-signin:hover {
    background-color: #d84315;
}

.btn-signup {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    width: 161px;
    height: 48px;
}

.btn-signup:hover {
    background-color: #fff;
    color: #d84315;
    border-color: #d84315;
}

.btn {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

/* Hiding */
.custom-nav {
    display: none;
}

.custom-auth {
    display: none;
}

/* Content */

.content {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.bg1 {
    width: 100%; 
    height: 659px;
    display: block;
}

.text-container-1 {
    position: relative;
    z-index: 1;
}

/* Welcome text styles */
.welcome-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 80px;
    font-weight: 500;
    color: #fff;
    margin-top: -600px;
}

/* Upcycle! text styles */
.upcycle-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 200px;
    font-weight: 700;
    color: #F06205;
    margin-top: -30px;
}

/* Upcycle description styles */
.upcycle-description {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #fff;
}

/* Sign In button styles */
.btn-signin2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    width: 301px;
    height: 70px;
    background-color: #F06205;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-signin2:hover {
    background-color: #d84315;
}

/* 2nd page */
.c1 {
    margin-top: 500px;
    margin-left: 1210px;
    width: 719px; 
    height: 719px;
}

.bg2 {
    width: 1138px; 
    height: 924px;
}

.text-container-2 {
    position: relative;
    z-index: 1;
    margin-top: -500px;
}

.create-and {
    font-family: 'Poppins', sans-serif;
    font-size: 120px;
    font-weight: 700;
    color: #00757E;
}

/* Upcycle description styles */
.through-well {
    width: 698px;
    height: 120px;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #0000;
}

/* Sign In button styles */
.btn-signin3 {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 301px;
    height: 70px;
    background-color: #F06205;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-signin3:hover {
    background-color: #d84315;
}



/* Media query to show navigation on larger screens */
@media (min-width: 1200px) {
    .custom-nav {
        display: block;
    }
}

@media (min-width: 900px) {

    .custom-auth {
        display: block;
    }
}
