/* Modified by Carl Andrei D. Lambino BSCOE 3-4 */

/* scroll bar */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #606060;
}

body::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

body {
    overflow-x: hidden;
}

/* Header styles */
.landing-header {
    background-color: #08989F;
}

.header-container {
    max-width: 100%;
    max-height: 4.69%;
}

.align-container {
    display: flex;
    align-items: center; 
}

/* Logo styles */
.col-logo {
    margin-left: 5.26%;
}

.logo img {
    max-width: 87px;
    height: 90px;
}

/* Web title styles */
.col-webtitle {
    flex-grow: 1;
}

.Webtitle {
    margin-left: 7.5%;
}

.Webtitle h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3.125rem;
    font-weight: 700; 
    color: #fff;
}

/* Navigation styles */
.nav {
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 50px;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

/* Authentication buttons styles */
.col-auth {
    flex: 0 0 150px; /* Set a fixed width for the authentication buttons column */
}

.auth-buttons {
    display: flex;
    margin-right: 10.2%;
    justify-content: flex-end;
}

.btn-signin,
.btn-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-signin {
    color: #fff; 
    background-color: #F06205;
    width: 102px;
    height: 48px;
}

.btn-signin:hover {
    background-color: #d84315;
}

.btn-signup {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    width: 161px;
    height: 48px;
}

.btn-signup:hover {
    background-color: #fff;
    color: #d84315;
    border-color: #d84315;
}

.btn {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

/* Hiding */
.custom-nav {
    display: none;
}

.custom-auth {
    display: none;
}

/* Content */

.content {
    position: relative;
    text-align: center;
    overflow: hiddeng;
}

.bg1 {
    width: 100%; 
    height: 34.32%;
    display: block;
}

.text-container-1 {
    position: relative;
    margin-top: -570px;
    z-index: 1;
}

/* Welcome text styles */
.welcome-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 5rem;
    font-weight: 500;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Upcycle! text styles */
.upcycle-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 12.5rem;
    font-weight: 700;
    color: #F06205;
    margin-top: -30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Upcycle description styles */
.upcycle-description {
    width: 69.53%;
    height: 4.167%;
    margin-left: 15.57%;
    font-family: 'Poppins', sans-serif;
    font-size: 2.1875rem;
    font-weight: 400;
    color: #fff;
}

/* Sign In button styles */
.btn-signin2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    width: 301px;
    height: 70px;
    background-color: #F06205;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.btn-signin2:hover {
    background-color: #d84315;
}

/* 2nd page */
.c1 {
    margin-top: 500px;
    width: 37.45%; 
    height: 37.45%;
    margin-left: 67.76%;
}

.bg2 {
    margin-top: -500px;
    margin-left: -56%;
    width: 72.29%; 
    height: 48.13%;
}

.text-container-2 {
    position: relative;
    width: 46.25%;
    height: auto;
    position: relative;
    z-index: 1;
    margin-top: -790px;
    margin-left: 50.26%;
}

.create-and {
    font-family: 'Poppins', sans-serif;
    font-size: 7.5rem;
    font-weight: 700;
    color: #00757E;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.page2-text {
    width: 78.60%;
    font-family: 'Poppins', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    color: #000000; 
    z-index: 1;
    margin-left: 12.5%;
}

/* Sign In button styles */
.btn-signin3 {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 301px;
    height: 70px;
    background-color: #F06205;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.btn-signin3:hover {
    background-color: #d84315;
}

/* page 3*/
.bg3 {
    margin-top: 500px;
    width: 66.04%;
    height: 44.06%;
    margin-left: 39.32%;
}

.c2 {
    margin-top: -720px;
    width: 18.725%; 
    height: 18.725%;
    margin-left: -82%;
}

.text-container-3 {
    margin-top: -635px;
    width: 42.92%;
    height: auto;
}

.engage-in {
    font-family: 'Poppins', sans-serif;
    font-size: 7.5rem;
    font-weight: 700;
    color: #00757E;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.page3-text {
    width: 78.60%;
    font-family: 'Poppins', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    color: #000000; 
    margin-left: 12.5%;
}

.btn-signin4 {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 301px;
    height: 70px;
    background-color: #F06205;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.btn-signin4:hover {
    background-color: #d84315;
}

/* page 4 */
.c3 {
    margin-top: 500px;
    width: 66.04%;
    height: 44.06%;
    margin-left: 39.32%;
}

.c4 {
    margin-top: -720px;
    width: 18.725%; 
    height: 18.725%;
    margin-left: -82%;
}

.text-container-3 {
    margin-top: -635px;
    width: 42.92%;
    height: auto;
}

.engage-in {
    font-family: 'Poppins', sans-serif;
    font-size: 7.5rem;
    font-weight: 700;
    color: #00757E;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.page3-text {
    width: 78.60%;
    font-family: 'Poppins', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    color: #000000; 
    margin-left: 12.5%;
}

.btn-signin4 {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 301px;
    height: 70px;
    background-color: #F06205;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.btn-signin4:hover {
    background-color: #d84315;
}



/* Media query to show navigation on larger screens */
@media (min-width: 1200px) {
    .custom-nav {
        display: block;
    }
}

@media (min-width: 900px) {

    .custom-auth {
        display: block;
    }
}
