/* Modified by Carl Andrei D. Lambino BSCOE 3-4 */

/* scroll bar */
.content::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

.content::-webkit-scrollbar-thumb {
    background-color: #F06205; /* Set the color of the thumb (the draggable part) */
    border-radius: 4px; /* Add rounded corners to the thumb */
}

.content::-webkit-scrollbar-track {
    background-color: #343a40; /* Set the color of the track (the non-draggable part) */
}

/* Header styles */
.landing-header {
    background-color: #08989F;
    padding: 15px 0;
}

.header-container {
    max-width: 1920px;
    max-height: 90px;
    margin: 0 auto;
}

.align-container {
    display: flex;
    align-items: center; 
}

/* Logo styles */
.col-logo {
    margin-left: 101px;
    flex: 0 0 87px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

/* Web title styles */
.col-webtitle {
    flex-grow: 1;
}

.Webtitle {
    margin-left: 43px;
}

.Webtitle h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-weight: 700; 
    color: #fff;
}

/* Navigation styles */
.nav {
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 50px;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

/* Authentication buttons styles */
.col-auth {
    flex: 0 0 150px; /* Set a fixed width for the authentication buttons column */
}

.auth-buttons {
    display: flex;
    margin-right: 21px;
    justify-content: flex-end;
}

.btn-signin,
.btn-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-signin {
    color: #fff; 
    background-color: #F06205;
    width: 102px;
    height: 48px;
}

.btn-signin:hover {
    background-color: #d84315;
}

.btn-signup {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    width: 161px;
    height: 48px;
}

.btn-signup:hover {
    background-color: #fff;
    color: #d84315;
    border-color: #d84315;
}

.btn {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

/* Hiding */
.custom-nav {
    display: none;
}

.custom-auth {
    display: none;
}

/* Content */

.content {
    position: relative;
    text-align: center;
    overflow: hidden; /* Ensure no content overflows the container */
}

.bg-image-container {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.bg1 {
    width: 100%; /* Make the image fill the entire width of its container */
    height: auto; /* Maintain the image's aspect ratio */
    display: block;
}

/* Media query to show navigation on larger screens */
@media (min-width: 1200px) {
    .custom-nav {
        display: block;
    }
}

@media (min-width: 900px) {

    .custom-auth {
        display: block;
    }
}
