/* Modified by Carl Andrei D. Lambino BSCOE 3-4 */

/* scroll bar */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #606060;
}

body::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

body {
    overflow-x: hidden;
}

/* Header styles */
.landing-header {
    background-color: #08989F;
}

.header-container {
    max-width: 100%;
    max-height: 4.69%;
}

.align-container {
    display: flex;
    align-items: center; 
}

/* Logo styles */
.col-logo {
    margin-left: 5.26%;
}

.logo img {
    max-width: 87px;
    height: 90px;
}

/* Web title styles */
.col-webtitle {
    flex-grow: 1;
}

.col-webtitle a {
    text-decoration: none;
}

.Webtitle {
    margin-left: 7.5%;
}

.Webtitle h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3.125rem;
    font-weight: 700; 
    color: #fff;
}

/* Navigation styles */
.nav {
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 50px;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

/* Authentication buttons styles */
.col-auth {
    flex: 0 0 150px; /* Set a fixed width for the authentication buttons column */
}

.auth-buttons {
    display: flex;
    margin-right: 10.2%;
    justify-content: flex-end;
}

.btn-signin,
.btn-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-signin {
    color: #fff; 
    background-color: #F06205;
    width: 102px;
    height: 48px;
}

.btn-signin:hover {
    background-color: #d84315;
}

.btn-signup {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    width: 161px;
    height: 48px;
}

.btn-signup:hover {
    background-color: #fff;
    color: #d84315;
    border-color: #d84315;
}

.btn {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

/* Hiding */
.custom-nav {
    display: none;
}

.custom-auth {
    display: none;
}

/* Content */

.content {
    position: relative;
    text-align: center;
    overflow: hiddeng;
}

.bg1 {
    width: 100%; 
    height: 34.32%;
    display: block;
}

.text-container-1 {
    position: relative;
    margin-top: -32%;
    z-index: 1;
}

/* Welcome text styles */
.welcome-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 5rem;
    font-weight: 500;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Upcycle! text styles */
.upcycle-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 12.5rem;
    font-weight: 700;
    color: #F06205;
    margin-top: -30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Upcycle description styles */
.upcycle-description {
    width: 69.53%;
    height: 4.167%;
    margin-left: 15.57%;
    font-family: 'Poppins', sans-serif;
    font-size: 2.1875rem;
    font-weight: 400;
    color: #fff;
}

/* Sign In button styles */
.btn-signin2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    width: 301px;
    height: 70px;
    background-color: #F06205;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.btn-signin2:hover {
    background-color: #d84315;
}

/* 2nd page */
.c1 {
    margin-top: 26.04%;
    width: 37.45%; 
    height: 37.45%;
    margin-left: 67.76%;
}

.bg2 {
    margin-top: -26.04%;
    margin-left: -56%;
    width: 72.29%; 
    height: 48.13%;
}

.text-container-2 {
    position: relative;
    width: 46.25%;
    height: auto;
    position: relative;
    z-index: 1;
    margin-top: -41.15%;
    margin-left: 50.26%;
}

.create-and {
    font-family: 'Poppins', sans-serif;
    font-size: 7.5rem;
    font-weight: 700;
    color: #00757E;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.page2-text {
    width: 78.60%;
    font-family: 'Poppins', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    color: #000000; 
    z-index: 1;
    margin-left: 12.5%;
}

/* Sign In button styles */
.btn-signin3 {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 301px;
    height: 70px;
    background-color: #F06205;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.btn-signin3:hover {
    background-color: #d84315;
}

/* page 3*/
.bg3 {
    margin-top: 26.04%;
    width: 66.04%;
    height: 44.06%;
    margin-left: 39.32%;
}

.c2 {
    margin-top: -37.5%;
    width: 18.725%; 
    height: 18.725%;
    margin-left: -82%;
}

.text-container-3 {
    margin-top: -33.07%;
    width: 42.92%;
    height: auto;
}

.engage-in {
    font-family: 'Poppins', sans-serif;
    font-size: 7.5rem;
    font-weight: 700;
    color: #00757E;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.page3-text {
    width: 78.60%;
    font-family: 'Poppins', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    color: #000000; 
    margin-left: 12.5%;
}

.btn-signin4 {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 301px;
    height: 70px;
    background-color: #F06205;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.btn-signin4:hover {
    background-color: #d84315;
}

/* page 4 */
.c3 {
    margin-top: 26.04%;
    width: 20.94%;
    height: 20.94%;
    margin-left: -95%;
}

.c4 {
    margin-top: -15.63%;
    width: 42.86%; 
    height: 42.86%;
    margin-left: 71.09%;
}

.text-container-4 {
    margin-top: -36%;
}

.create-your {
    font-family: 'Poppins', sans-serif;
    font-size: 7.5rem;
    font-weight: 700;
    color: #EC5300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.join-our {
    width: 52.92%;
    font-family: 'Poppins', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    color: #000000; 
    margin-left: 23%;
}

.join-us {
    width: 60.78%;
    height: 40.52%;
}

/* page 5 */
.text-container-5 {
    margin-top: 35%;
}

.email-input {
    padding-left: 50px;
    align-items: center;
    justify-content: center;
    width: 1100px;
    height: 123px;
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border-radius: 40px;
    border: 5px solid #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin-right: 20px;
}

.signup2-btn {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 230px;
    height: 123px;
    background-color: #00757E;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}


.signup2-btn:hover {
    background-color: #005c63;
}

.footer-bg {
    width: 100%;
    height: auto;
}




/* Media query to show navigation on larger screens */
@media (min-width: 1200px) {
    .custom-nav {
        display: block;
    }
}

@media (min-width: 900px) {

    .custom-auth {
        display: block;
    }
}

@media (max-width: 1200px) {
    /* Adjust font sizes for smaller screens */
    .welcome-text {
        font-size: 3rem;
    }

    .upcycle-text {
        font-size: 7rem;
    }

    .upcycle-description {
        font-size: 1.3125rem;
    }
    
    /* Sign In button styles */
    .btn-signin2 {
        width: 180.6px;
        height: 42px;
        font-size: 1.2rem;
    }
    /* Add similar adjustments for other elements as needed */

    .custom-auth {
        display: block; /* Show authentication on smaller screens */
    }

    .create-and {
        font-size: 4.5rem;
    }

    .page2-text {
        font-size: 1.35rem;
    }

    .btn-signin3 {
        width: 180.6px;
        height: 42px;
        font-size: 1.2rem;
    }

    .engage-in {
        font-size: 4.5rem;
    }

    .page3-text {
        font-size: 1.35rem;
    }

    .btn-signin4 {
        width: 180.6px;
        height: 42px;
        font-size: 1.2rem;
    }

    .create-your {
        font-size: 4.5rem;
    }

    .join-our {
        font-size: 1.35rem;
    }

    .email-input {
        width: 660px;
        height: 73.8px;
        font-size: 1.8rem;
        border-radius: 20px;
    }

    .signup2-btn {
        width: 138px;
        height: 73.8px;
        font-size: 1.8rem;
        border-radius: 20px;
    }

}
