body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    zoom: 80%;
    overflow-x: hidden; 
    background-color: #f4f4f4;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #606060 #f0f0f0; /* Firefox */
}

/* Webkit (Chrome, Safari) */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #606060;
}

body::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

/* Header */
header {
    width: 100%;
    height: 90px;
    background-color: #08989F;
    color: white;
    text-align: center;
    line-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 101px;
}

.logo img {
    width: 87px;
    height: 90px;
    display: block;
}

.Webtitle {
    margin-left: -250px;
}

.Webtitle h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 50px;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

nav a.start-recycling-link {
    background-color: #F06205;
    padding: 10px 15px; /* Adjust the padding as needed */
    border-radius: 10px; /* Add rounded corners if desired */
    /* Add any other styling you need for the link */
}

.auth-buttons button.signin-btn {
    margin-left: -200px;
    margin-right: 22px;
    background-color: #F06205;
    color: white;
    border: none;
    border-radius: 10px;
    width: 102px;
    height: 48px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.auth-buttons button.signin-btn:hover {
    background-color: #D84315;
}

.auth-buttons button.signup-btn {
    margin-right: 21px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 161px;
    height: 48px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.auth-buttons button.signup-btn:hover {
    background-color: rgba(240, 98, 5, 0.1);
}

.content-container {
    width: 100%;
    max-width: 1295px;
    margin: 40px auto; /* Adjust the margin as needed for space below the header */
}

.main-box {
    width: 100%;
    max-width: 1295px;
    height: 427px;
    background-color: #fff;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.main-content {
    padding-left: 20px; /* Add left padding as needed */
}

.header-text p.recycle-text {
    color: #03696E;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.title-text h1.title {
    color: #242424;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 48px;
    margin: 0;
}

.author-text p.author {
    color: #242424;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 16px;
    margin: 0;
}

.author-text span.author-name {
    color: #03696E;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.author-text p.last-updated {
    color: #242424;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}
.description-box {
    width: 579px;
    background-color: #fff;
    margin-top: 20px; /* Add margin to separate it from the existing small box */
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.description-box p.description-title {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 0 0 10px; /* Adjust margin as needed */
}

.description-box p.description-text {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
}

.small-box {
    width: 579px;
    height: 189px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px; /* Add margin to separate it from the main box */
    margin-right: 20px; /* Add margin to separate it from the main box */
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 2px 8px 5px rgba(0, 0, 0, 0.1);

    .requirements {
        margin-top: 20px;
    }

    .requirement-title {
        color: #000000;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 16px;
        margin: 0 0 10px;
    }

    .box {
        width: 20px;
        height: 20px;
        background-color: #ffffff; /* Change fill to white */
        border: 1px solid #000000; /* Add a black border */
        margin-right: 10px;
    }
    
    .requirement-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-left: 30px; /* Adjust the indentation as needed */
    }

    .item-text {
        color: #000000;
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
        font-size: 16px;
        margin: 0;
    }
}

.rectangle-below-main {
    width: 1275px;
    height: 84px;
    background-color: #F06205;
    border-radius: 10px;
    margin: 40px auto;
    display: flex;
    justify-content: flex-start; /* Change from 'left' to 'flex-start' */
    align-items: center;
    padding-left: 20px; /* Add padding for better readability */
}

.rectangle-text {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 36px;
    margin: 0;
}


.additional-content-box {
    width: 1295px;
    height: 1100px;
    background-color: #FFFFFF; /* Adjust the background color as needed */
    margin: 40px auto;
    position: relative;
}

.step-image {
    width: 111px;
    height: 84px;
    position: absolute;
    top: 0;
    left: 0;
}

.step-info {
    position: absolute;
    top: 0;
    left: -10px;
    width: 111px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step-text {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.step-number {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin: 0;
}

.instruction-text {
    position: absolute;
    top: -20px;
    left: 130px; /* Adjust the left positioning as needed */
    color: #242424;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 36px;
    margin: 0;
}

.picture-container {
    width: 1295px;
    height: 675px;
    overflow: hidden; /* Ensure the image stays within the container */
    padding-top: 100px; /* Add space between the picture and the top of the container */
}

.picture-image {
    width: 100%; /* Make the image fill the container width */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove default inline display */
}

.additional-instructions {
    max-width: 1295px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center align the content */
}

.bold-text {
    font-weight: bold;
}

.indent {
    margin-left: 80px; /* Adjust the indentation as needed */
}

.additional-instructions .indent {
    margin-bottom: 5px; /* Reduce the spacing between sentences in indented text */
}

.additional-instructions p {
    padding-left: 150px;
    text-align: left; /* Left-align paragraphs */
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 20px; /* Adjust the font size as needed */
    margin: 10px 0; /* Add margin between paragraphs */
    margin-top: 20px
}
.additional-content-box2 {
    width: 1295px;
    height: 750px;
    background-color: #FFFFFF; /* Adjust the background color as needed */
    margin: 40px auto;
    position: relative;
}
.picture-container2 {
    width: 1295px;
    height: 475px;
    overflow: hidden; /* Ensure the image stays within the container */
    padding-top: 100px; /* Add space between the picture and the top of the container */
}

.additional-instructions2 {
    max-width: 1295px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center align the content */
}

.additional-instructions2 p {
    padding-left: 150px;
    text-align: left; /* Left-align paragraphs */
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 20px; /* Adjust the font size as needed */
    margin: 10px 0; /* Add margin between paragraphs */
    margin-top: 20px
}

.additional-content-box3 {
    width: 1295px;
    height: 1200px;
    background-color: #FFFFFF; /* Adjust the background color as needed */
    margin: 40px auto;
    position: relative;
}

.content-container2 {
    width: 100%;
    max-width: 1295px;
    margin: 40px auto; /* Adjust the margin as needed for space below the header */
}

.main-box {
    width: 100%;
    max-width: 1295px;
    height: 416px;
    background-color: #fff;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.main-content {
    padding-left: 20px; /* Add left padding as needed */
}


.title-text h1.title {
    color: #242424;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin: 0;
}


.description-box2 {
    width: 1200px;
    background-color: #fff;
    margin-top: 40px; /* Add margin to separate it from the existing small box */
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.content-container2 {
    width: 100%;
    max-width: 1295px;
    margin: 40px auto;
}

.main-box {
    width: 100%;
    max-width: 1295px;
    height: 316px;
    background-color: #fff;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.main-content {
    padding-left: 20px;
}

.title-text h1.title {
    color: #242424;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin: 0;
}

.description-box2 {
    width: 1200px;
    background-color: #fff;
    margin-top: 40px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    align-items: center;
}

.user-image {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes the image circular */
    margin-right: 10px; /* Adjust the spacing between image and text */
}

.user-text {
    font-family: 'Open Sans', sans-serif;
}

.user-name {
    font-weight: bold;
    font-size: 20px;
    color: #08989F;
    margin: 0;
}

.post-time {
    font-size: 20px;
    color: #989898;
    margin: 0;
}

/* New Styles */

.new-content {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.comment-box {
    flex-grow: 1;
    max-width: 1074px; /* Adjust the max-width as needed */
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.comment-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #7D7D7D;
    margin: 0;
}

.green-box {
    width: 66px;
    height: 50px;
    background-color: #08989F;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.arrow-text {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    margin: 0;
}

/* New Styles for content-container3 */

.content-container3 {
    width: 100%;
    max-width: 1295px;
    margin: 40px auto;
}

.related-text {
    color: #242424;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin: 0;
}

.related-images {
    display: flex;
    gap: 15px; /* Adjust the gap between images as needed */
    margin-top: 20px; /* Adjust the top margin as needed */
}

.related-image {
    width: 390px; /* Adjust the width of the images */
    height: 224px; /* Adjust the height of the images */
}

/* New Styles for content-container4 */
.content-container4 {
    width: 100%;
    max-width: 1295px;
    margin: 40px auto;
}

.main-box4 {
    width: 100%;
    max-width: 1295px;
    height: 416px;
    background-color: #fff;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.main-content4 {
    padding-left: 20px;
}

.references-text4 {
    color: #242424;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 32px;
    padding-top: 10px;
    margin: 0;
}

.reference {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #000000;
    margin: 1px;
    padding-top: 15px;
    padding-left: 100px; /* Adjust the left padding as needed */
}