body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    zoom: 80%;
    overflow-x: hidden; 
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #606060 #f0f0f0; /* Firefox */
}

/* Webkit (Chrome, Safari) */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #606060;
}

body::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.logo {
    position: absolute;
    left: 33px;
    top: 19px;
    width: 87px;
    height: 90px;
    z-index: 1; /* Ensure the logo is in front of other content */
}

.brand-text {
    position: absolute;
    left: 140px;
    top: -12px;
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #F06205;
    z-index: 1; /* Ensure the text is in front of other content */
}

/* bg_image (right) */
.bg_image {
    position: absolute;
    top: -14px;
    left: 1136px;
    width: 784px;
    height: 938px;
    z-index: -1;
}

.signup-text {
    position: absolute;
    left: 434px;
    top: 73px;
    width: 245px;
    height: 128px;
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #3D3D3D;
    z-index: 2; /* Ensure the text is in front of other content */
}

.create-account-text {
    position: absolute;
    left: 450px;
    top: 181px;
    width: 726px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #9B9B9B;
    z-index: 2; /* Ensure the text is in front of other content */
}

.personal-info-text {
    position: absolute;
    left: 214px;
    top: 238px;
    width: 216px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500; /* Medium */
    color: #272727;
    z-index: 2; /* Ensure the text is in front of other content */
}

.form-input {
    position: absolute;
    left: 219px;
    top: 279px;
    width: 670px;
    height: 70px;
    border-radius: 25px;
    background-color: #E4E4E4;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: medium;
    color: #767676;
    z-index: 2; /* Ensure the form is in front of other content */
    border: none; /* Remove the border */
    text-indent: 15px; /* Adjust the indentation as needed */
}

.username-input {
    position: absolute;
    left: 219px;
    top: 364px;
    width: 317px;
    height: 70px;
    border-radius: 25px;
    background-color: #E4E4E4;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: medium;
    color: #767676;
    z-index: 2; /* Ensure the form is in front of other content */
    border: none; /* Remove the border */
    text-indent: 15px; /* Adjust the indentation as needed */
}

/* Add the following CSS for the "Birthday" form input */
.birthday-input {
    position: absolute;
    left: 554px;
    top: 364px;
    width: 335px;
    height: 70px;
    border-radius: 25px;
    background-color: #E4E4E4;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: medium;
    color: #767676;
    z-index: 2; /* Ensure the form is in front of other content */
    border: none; /* Remove the border */
    text-indent: 15px; /* Adjust the indentation as needed */
}

.account-text {
    position: absolute;
    left: 214px;
    top: 455px;
    width: 216px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500; /* Medium */
    color: #272727;
    z-index: 2; /* Ensure the text is in front of other content */
}

.email-input {
    position: absolute;
    left: 219px;
    top: 492px;
    width: 670px;
    height: 70px;
    border-radius: 25px;
    background-color: #E4E4E4;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: medium;
    color: #767676;
    z-index: 2; /* Ensure the form is in front of other content */
    border: none; /* Remove the border */
    text-indent: 15px; /* Adjust the indentation as needed */
}


.password-input {
    position: absolute;
    left: 219px;
    top: 577px;
    width: 670px;
    height: 70px;
    border-radius: 25px;
    background-color: #E4E4E4;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: medium;
    color: #767676;
    z-index: 2; /* Ensure the form is in front of other content */
    border: none; /* Remove the border */
    text-indent: 15px; /* Adjust the indentation as needed */
}


.confirm-password-input {
    position: absolute;
    left: 219px;
    top: 662px;
    width: 670px;
    height: 70px;
    border-radius: 25px;
    background-color: #E4E4E4;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: medium;
    color: #767676;
    z-index: 2; /* Ensure the form is in front of other content */
    border: none; /* Remove the border */
    text-indent: 15px; /* Adjust the indentation as needed */
}

.agreement-text {
    position: absolute;
    left: 320px; /* Adjust the left position as needed */
    top: 750px; /* Adjust the top position as needed */
    width: 464px;
    height: 48px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #000000;
    z-index: 2; /* Ensure the text is in front of other content */
    text-align: center; /* Center the text */
}

.signup-button {
    position: absolute;
    left: 431px; /* Adjust the left position as needed */
    top: 810px; /* Adjust the top position as needed */
    width: 247px;
    height: 76px;
    border-radius: 38px;
    background-color: #EC5300;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: medium;
    color: #FFFFFF;
    z-index: 2; /* Ensure the button is in front of other content */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Add a pointer cursor for better interaction */
}

.welcome-text {
    position: absolute;
    left: 1199px; /* Adjust the left position as needed */
    top: 291px; /* Adjust the top position as needed */
    width: 681px;
    height: 255px;
    font-family: 'Poppins', sans-serif;
    font-size: 96px;
    font-weight: bold;
    color: #ffffff;
    z-index: 2; /* Ensure the text is in front of other content */
    text-align: center; /* Center the text */
}

.existing-account-text {
    position: absolute;
    left: 1306px; /* Adjust the left position as needed */
    top: 559px; /* Adjust the top position as needed */
    width: 446px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: normal;
    color: #FFFFFF;
    z-index: 2; /* Ensure the text is in front of other content */
}

.login-button {
    position: absolute;
    left: 1382px; /* Adjust the left position as needed */
    top: 638px; /* Adjust the top position as needed */
    width: 287px;
    height: 83px;
    border-radius: 38px;
    background-color: #08989F;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: medium;
    color: #FFFFFF;
    z-index: 2; /* Ensure the button is in front of other content */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Add a pointer cursor for better interaction */
}