body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.contain_all{
    background-color: #F4F4F4;
    height: 100vh;

    .signup-text {
        font-family: 'Poppins', sans-serif;
        font-size: 64px;
        font-weight: 700;
    }

    .create1-text {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #9B9B9B;
        
    }
}

img.brand_img{
    height: 80px;
    text-align: start;
}


.email-input, .fullname-input, .username-input, .birthday-input, .password-input, .confirmpassword-input{
    background-color: #E4E4E4;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 5px;
    border: none;
    outline: none;
}

/* FORMS INPUT START HERE */


.new-here-text{
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
}

.signup-message{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 40px;
    margin: 0;
}


.login_to-sign-in{
    background-image: url(src/images/signin_bg.png);
    width: 784px;
    height: 997px;
}

.custom-signup-button {
    background-color: #EC5300;
    color: #FFFFFF;
    border: none;
    border-radius: 38px;
    padding-inline: 60px;
    padding-block: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: medium;
    cursor: pointer;
    margin-top: 20px;
}

.custom-signup-button:hover {
    background-color: #00565A;
}

.signup1-button {
    left: 431px;
    top: 709px;
    z-index: 1; 
}

.signup-button{
    background-color: #08989F;
    color: #FFFFFF;
    border: none;
    border-radius: 38px;
    padding-inline: 60px;
    padding-block: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: medium;
    cursor: pointer;
    margin-top: 40px;
}