.navbar{
    background-color: #08989F;
    height: 70px;
}

a.navbar-brand, a.navbar-brand:hover{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
p.h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

div.banner-info.section{
    color: white;
}

a.nav-link{
    color: white !important;
    margin-inline: 20px;
    font-family: 'Poppins';
}

button.btn.btn-login{
    width: 90px;
    color: #fff;
    background-color: #F06205;
}

button.btn.btn-signup{
    width: 120px;
    color: #fff;
    background-color: transparent;
    border: 1px solid white;
}

/* BANNER SEARCH */
p.h1.title{
    font-size: clamp(20px, 10vw, 80px);
}
input.form-control{
    width: 30rem;
}

button.btn.search{
    width: 90px;
    padding: 10px;
    color: #fff;
    background-color: #F06205;
}

.inside-orange-banner{
    font-size: clamp(12px, 2vw, 20px);
}

.col-10.description{
    padding-left: 150px;
    padding-right: 150px;
}
.col-1.img-right, .col-1.img-left{
    padding: 0px;
}

img.side-img{
    height: 200px;
}
/* INSIDE CONTENT */
hr{
    height: 2px;
    color: #878787;
    background-color: #878787;
}
p.label{
    font-family: 'Open Sans';
}

p.label.h1 {
    font-family: 'Open Sans';
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: 600;
    color: black;
}

    /* FOR POST CARDS */
    .card{
        /* margin: 10px; */
        margin: 0 auto;
    }
    p.card-text.category{
        color: #909090;
        font-size: clamp(12px, 1vw, 14px);
        font-weight: 500;
        margin-bottom: 0px;
    }
    h5.card-title.post{
        font-family: 'Quicksand';
        font-weight: bold;
        font-size: clamp(20px, 1vw, 30px);
    }
    .card-img-top {
        width:clamp(5rem, 10vw, 12rem) ;
        height:clamp(9rem, 1vw, 10rem) ;
        object-fit: cover;
    }
    .card-body.post{
        height:clamp(6rem, 1vw, 8rem);
        padding-top: 10px;
    }


#search-section form {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    height: 50px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, .13);
}

.form-control:active,
.form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

p.label.h1 {
    font-family: 'Open Sans';
    font-size: large;
    color: black;
}

.card{
    margin: 10px;
}

/* FOOTER */
ul{
    list-style-type: none;
}

.footer{
    background-image: url(images/footer_bg.png);
}