
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcycle - Activity</title>
    <link rel="stylesheet" href="/css/Account.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap">
    <link rel="shortcut icon" href="/src/img//Logo/NGOlogo.png" type="image/x-icon">

</head>

<body style="background-color: #F4F4F4;">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<!-- NAVBAR -->
<nav class="navbar navbar-dark navbar-expand-xl">
    <div class="container">
        <!-- LOGO & BRAND -->
      <div class="d-flex flex-row align-items-center gap-2">
        <img src="/src/img/Logo/NGOlogo.png" alt="Logo" width="60" height="60" class="d-inline-block align-text-center">
        <a class="navbar-brand" href="#">Upcycle</a>
      </div>
        <!-- TOGGLE BTN -->
      <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- SIDEBAR -->
      <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        
        <!-- SIDEBAR - header -->
        <div class="offcanvas-header text-white border-bottom">
          <div class="d-flex flex-row align-items-center gap-2">
            <img src="/src/img/Logo/NGOlogo.png" alt="Logo" width="60" height="60" class="d-inline-block align-text-center">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Upcycle</h5>
          </div>
          <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <!-- SIDEBAR - body -->
        <div class="offcanvas-body d-flex flex-column flex-xl-row p-4">
          <ul class="navbar-nav justify-content-center align-items-center flex-grow-1 pe-3 gap-1">
            <li class="nav-item">
              <a class="nav-link active " aria-current="page" href="#">Home</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Start Recycling
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">View Post</a></li>
                  <li>
                  </li>
                  <li><a class="dropdown-item" href="#">Create New Post</a></li>
                </ul>
              </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Recent Post</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Community Forum</a>
              </li>
          </ul>
          <!-- LOGIN & SIGN UP -->
          <div class="d-flex justify-content-center flex-xl-row align-items-center gap-2">
            <a href="login" class="login text-white text-decoration-none inner-border px-4 py-2"> Login</a>
            <a href="signup" class="signup text-white text-decoration-none px-4 py-2">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
</nav>



<!-- PROFILE -->
<section class="banner profile-cover p-5" style="background-image: url(/images/background/account-var5.jpg);">
    <div class="container">
        <div class="profile d-flex justify-content-center">
            <div class="row col-xl-8 col-lg-8 col-11 profile py-5 px-3 rounded-4 shadow-sm align-items-center" style="background-color: white;">
                <div class="row d-flex justify-content-center">
                    <div class="col-2 d-flex my-3 justify-content-center align-items-center">
                        <img src="/images/profile.png" alt="">
                    </div>
                    <div class="col-6">
                        <div class="row align-items-center">
                            <p class="username h4">Username here</p>
                        </div>
                        
                        <p class="date-joined"> Joined October 10, 2023</p>
                        <p class="signature">This will be my signature ^^!
                            Nice to meet you~</p>
                    </div>
                </div>
                <hr>
                <h5>User Activity</h5>
                <div class="col mt-2">
                    <div class="row text-center">
                        <div class="col r">
                            <p class="h1 like-num">10</p>
                            <p class="h6">Liked Post</p>
                        </div>
                        
                        <div class="col read-num">
                            <p class="h1">10</p>
                            <p class="h6">Read Post</p>
                            
                        </div>
                        <div class="col create-num">
                            <p class="h1">10</p>
                            <p class="h6">Created Post</p>
                            
                        </div>
                    </div>
            </div>
            
        </div>
    </div>
</section>


<div class="container contain-all">
    <!-- HISTORY -->
    <div class="article container" style="background-color: white; margin-top: 2%; padding: 3%; margin-bottom: 2%;">
        <div class="row justify-content-center">
            <p class="label h1">History</p>
            <hr>
            <div class="row history">
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                    <div class="card history">
                        <img src="/images/card_placeholder_img.png" class="card-img-top" alt="...">
                        <div class="card-body history">
                        <p class="card-text category">How to recycle 'Category'</p>
                        <h5 class="card-title history">TITLE PLACEHOLDER</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                    <div class="card history">
                        <img src="/images/card_placeholder_img.png" class="card-img-top" alt="...">
                        <div class="card-body history">
                        <p class="card-text category">How to recycle 'Category'</p>
                        <h5 class="card-title history">TITLE PLACEHOLDER</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                    <div class="card history">
                        <img src="/images/card_placeholder_img.png" class="card-img-top" alt="...">
                        <div class="card-body history">
                        <p class="card-text category">How to recycle 'Category'</p>
                        <h5 class="card-title history">TITLE PLACEHOLDER</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                    <div class="card history">
                        <img src="/images/card_placeholder_img.png" class="card-img-top" alt="...">
                        <div class="card-body history">
                        <p class="card-text category">How to recycle 'Category'</p>
                        <h5 class="card-title history">TITLE PLACEHOLDER</h5>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>

<!-- FAVORITE -->
<div class="article container" style="background-color: white; margin-top: 2%; padding: 3%; margin-bottom: 2%;">
    <div class="row justify-content-center">
        <p class="label h1">Favorite</p>
        <hr>
        <div class="row favorite">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                <div class="card favorite">
                    <img src="/images/card_placeholder_img.png" class="card-img-top" alt="...">
                    <div class="card-body favorite">
                    <p class="card-text category">How to recycle 'Category'</p>
                    <h5 class="card-title favorite">TITLE PLACEHOLDER</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                <div class="card favorite">
                    <img src="/images/card_placeholder_img.png" class="card-img-top" alt="...">
                    <div class="card-body favorite">
                    <p class="card-text category">How to recycle 'Category'</p>
                    <h5 class="card-title favorite">TITLE PLACEHOLDER</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                <div class="card favorite">
                    <img src="/images/card_placeholder_img.png" class="card-img-top" alt="...">
                    <div class="card-body favorite">
                    <p class="card-text category">How to recycle 'Category'</p>
                    <h5 class="card-title favorite">TITLE PLACEHOLDER</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 g-3">
                <div class="card favorite">
                    <img src="/images/card_placeholder_img.png" class="card-img-top" alt="...">
                    <div class="card-body favorite">
                    <p class="card-text category">How to recycle 'Category'</p>
                    <h5 class="card-title favorite">TITLE PLACEHOLDER</h5>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>

<!-- BOOKMARK -->
<div class="discussion container" style="background-color: white; margin-top: 2%; padding: 3%; margin-bottom: 2%;">
    <div class="row justify-content-center">
        <p class="label h1">Discussion</p>
        <hr>
        <div class="row topic">
            <div class="card topic">
                <div class="row my-3 mx-2 ">
                    <div class="col">
                        <h4 class="card-title topic">Hello!</h4>
                        <p class="card-text topic">Glass Category</p>
                    </div>
                    <div class="col">
                        <p class="author">
                            by: 4Bids
                        </p>

                        <p class="date-time">
                            June. 18, 2023 12:15 PM
                        </p>
                    </div>
                    <div class="col">
                        <p class="comment">
                            30 comments
                        </p>
                        <p class="like">
                            100 likes
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row topic">
            <div class="card topic g-3">
                <div class="row my-3 mx-2">
                    <div class="col">
                        <h4 class="card-title topic">Hello!</h4>
                        <p class="card-text topic">Glass Category</p>
                    </div>
                    <div class="col">
                        <p class="author">
                            by: 4Bids
                        </p>

                        <p class="date-time">
                            June. 18, 2023 12:15 PM
                        </p>
                    </div>
                    <div class="col">
                        <p class="comment">
                            30 comments
                        </p>
                        <p class="like">
                            100 likes
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row topic">
            <div class="card topic g-3">
                <div class="row my-3 mx-2">
                    <div class="col">
                        <h4 class="card-title topic">Hello!</h4>
                        <p class="card-text topic">Glass Category</p>
                    </div>
                    <div class="col">
                        <p class="author">
                            by: 4Bids
                        </p>

                        <p class="date-time">
                            June. 18, 2023 12:15 PM
                        </p>
                    </div>
                    <div class="col">
                        <p class="comment">
                            30 comments
                        </p>
                        <p class="like">
                            100 likes
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>    
</div>
</div>

<!-- FOOTER -->
<footer class="footer pt-5 pb-2 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-6 text-center text-md-start mx-auto mt-3">
                <p class="h4 brand">Upcycle</p>
                <p class="description">This website combines insightful articles on ways to reuse recyclable materials with engaging forums for a community of recyclers, all in one place. Explore to stay informed and join forums to connect!</p>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 text-center text-md-start mx-auto mt-3">
                <p class="h4 link">Link</p>
                <ul class="footer-links">
                    <li><a class="footer" href="">About Us</a></li>
                    <li><a class="footer" href="">Contact Us</a></li>
                    <li><a class="footer" href="">Home</a></li>
                    <li><a class="footer" href="">FAQ</a></li>
                </ul>
            </div>
            <div class="row text-center g-4">
              <p class="copyright">© 2024 Upcycle</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
