{% extends "base.html" %} {% block title %}Create Post{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Upcyle - Create Post</title>
    <link rel="stylesheet" href="/css/Create-Post.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap">
    <link rel="shortcut icon" href="/src/img/Logo/NGOlogo.png" type="image/x-icon">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body  style="background-color: #F4F4F4;">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

{% block content %}
<!-- BANNER -->
<div class="banner-bg-plastic section p-5 text-center" style="background-image: url(static/images/background/account-var2.jpg);">
    <div class="container" style="padding-block: 30px;">
        <div>
            <p class="h1 title">Create Post</p>
            <p class="text-white mx-5 px-5">
                Hey Upcyclers! 🌿 Ready to unleash your creative genius? Share your latest upcycling projects, get feedback, and inspire fellow members with your unique transformations. Whether it's turning old furniture into art or repurposing everyday items, let's showcase the magic of creative reuse. 🌟 Fill out our quick and easy Post Form to share the magic of your upcycling journey with the Upcycle community! 🎨✨ 
            </p>
        </div>
        <button type="button" class="btn text-white py-2 px-5" style="background-color:#08989F;">Submit</button>
    </div>
</div>
<div class="div my-5"></div>
<div class="container">
<!-- POST INFO-->
<div class="container post-info col-xl-8 col-xs-12 pb-4 mt-2" style="background-color: white;">
    <div class="row">
        <!-- CATEGORY -->
        <div class="my-3">
            <label for="post-form-category" class="form-label"><strong>Category*</strong></label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Choose a category</option>
                <option value="1">Plastic</option>
                <option value="2">Paper</option>
                <option value="3">Textile</option>
                <option value="4">Glass</option>
            </select>
        </div>
        <!-- TITLE -->
        <div class="my-3">
            <label for="post-form-title" class="form-label"><strong>Title*</strong></label>
            <textarea class="form-control" id="post-form-title" placeholder="Add title here" rows="1"></textarea>
        </div>
        <!-- DESCRIPTION -->
        <div class="col post-description px-5">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"><strong>Description:*</strong></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Add post description..." rows="5"></textarea>
            </div>
        </div>
    </div>
</div>

<script>scr="new-instruction.js"</script>
<!-- POST CONTENT -->
<div class="container post-content col-xl-8 col-xs-12 mt-3" id="parentInstruction">
    <div class="row" id="instruction1" name="instruction1">
        <div class="container px-3 py-2 post-instruction-title rounded-top text-white" style="background-color: #F06205; height: 70px;">
            <div class="row align-items-center">
                <!-- INSTRUCTION -->
                <div class="col post-instruction">
                    <div class="form-floating">
                        <textarea class="form-control text-white form-instruction-title" placeholder="Add instruction here" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea" class="floating-label">Instruction*</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4" style="background-color: white;">
            <!-- IMG -->
            <div class="row">
                <div class="container d-flex align-items-center justify-content-center mb-3" style="background-color: rgb(223, 223, 223); height: 450px; ">
                    <div class="text-center">
                        
                        <form id="imageForm1">
                            <label for="imageUpload1" id="uploadLabel1">
                                <div class="row text-center">
                                    <p class="h1" style="font-family: 'Lato', sans-serif; font-weight: bold; font-size: 45px; color: #7E7E7E; margin-bottom: 20px;">
                                        [Insert Image Here]
                                    </p>
                                    <span class="material-icons" style="font-size: 48px; margin-top: 20px; cursor: pointer; color: gray;">
                                        add_photo_alternate
                                    </span>
                                </div>
                            </label>
                            <input type="file" id="imageUpload1" name="imageUpload1" accept="image/*" style="display: none;" />
                            <img id="uploadedImage1" src="" style="height: 450px; background-position: center; background-size: cover;">
                        </form>
                    </div>
                </div>
                <script src="{{ url_for('static', filename='js/image-display.js')}}"></script>
            </div>

            <!-- IMG DESCRIPTION -->
            <div class="row pt-2 px-4">
                <div class="form-floating">
                    <textarea class="form-control px-4" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label class="ms-4" for="floatingTextarea2">Add description here...</label>
                </div>
            </div>
            
        </div>
        <hr>
    </div>
</div>




<div class="container post-content col-xl-8 col-xs-12 mt-3">
    <div class="row">
        <button id="addInstructionButton" class="btn text-white" style="background-color: #007880; padding:10px;">Add Instruction</button>
    </div>
    <script src="{{ url_for('static', filename='js/new-instruction.js')}}"></script>
</div>
<!-- REFERENCES -->
<div class="container post-content col-xl-8 col-xs-12 mt-3" style="background-color: white;">
    <div class="row p-3">
        <p class="label h1">References:</p>
        <hr>
        <div class="row">
            <div class="mb-3">
                <ol id="numberedList" class="list-group list-group-numbered" contenteditable="true">
                    <li class="list-group-item"></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<br>

<div class="div my-5"></div>
</div>
{% endblock content %}
</body>    
</html>