{% extends "base.html" %} {% block title %}Discussion{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcycle - Forum</title>
    <link rel="stylesheet" href="/css/Forum-Clicked.css">
    <link rel="stylesheet" href="/css/Forum.css">
    <script src="/js/Forum-Clicked.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/src/img/Logo/NGOlogo.png" type="image/x-icon">

</head>

<body style="background-color: #F4F4F4;">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

{% block content %}
<div class="mt-5"></div>
    <!-- FORUM -->

    <div class="container d-flex justify-content-center">
        <div class="forum-content row justify-content-center" style="background-color: white;">
            <div class="row justify-content-center">
                <div class="row user mt-3 d-flex align-items-center">
                    <div class="col-lg-1 col-2 d-flex justify-content-end">
                        <img class="profile-img" src="{{ url_for('static', filename='images/img/profileimg-placeholder.jpg')}}" alt="">
                    </div>
                    
                    <div class="col-lg-8 col-sm-4 col-6">
                        <div class="col">
                            <div class="user-info row">
                                <div class="col">
                                    <p class="h5 username">{{ discussion_data.user.username }}</p>
                                    <p class="h6 post-date">{{ discussion_data.date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            <div class="forum" data-forum-id="{{ discussion_data.id }}">

                <!-- TITLE -->
                <div class="row">
                    <p class="h4 forum-title">Title placeholder</p>
                </div>

                <!-- IMG -->
                <div class="row">
                    <div class="container d-flex justify-content-center" style="background-color: rgb(223, 223, 223); height: 450px;">
                        <img class="forum-img" src="{{ url_for('static', filename='images/img/card-placeholder.png')}}" alt="">
                    </div>
                </div>
                <div class="row">
                    <p class="h6 message mt-3 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolor possimus aspernatur error voluptas illo eius similique rem dolorem, est consectetur molestiae deserunt facilis at quidem ab ut fugit obcaecati!Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, in quod expedita suscipit incidunt cum, delectus hic eius eos, vitae dicta qui repudiandae ut ipsam aperiam similique. Harum, ab alias?</p>
                </div>

                <hr>

                <!-- COUNT -->
                <div class="forum-ratings-container row mb-3 d-flex">

                    <div class="forum-rating forum-rating col-2 d-flex justify-content-start">
                        <span class="forum-rating-button material-icons px-2"> thumb_up </span>
                        <span class="forum-rating-count">0</span>
                    </div>

                    <div class="forum-rating forum-rating col-2 d-flex justify-content-start">
                        <span class="forum-rating-button material-icons px-2"> thumb_down </span>
                        <span class="forum-rating-count">0</span>
                    </div>

                </div>

                </div>

            </div>
        </div>
    </div>

    <span class="br"></span> 

    <!-- ADD COMMENT -->
    <div class="container d-flex justify-content-center">
        <div class="forum-content row justify-content-center px-4 py-2" style="background-color: white;">
            <p class="h6 mt-2">Add Comment</p>
            <form>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </form>
            <div class="col my-3 d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">Comment</button>
            </div>
        </div>
    </div>

    <span class="br"></span>
    
    <!-- COMMENT -->
    <div class="container d-flex justify-content-center">
        <div class="forum-content row px-4 py-2" style="background-color: white;">
            <p class="h6 mt-2">Comments:</p>
            <hr>
            <!-- User Comment -->
            <div class="row d-flex">
                <div class="col-lg-1 col-2 d-flex justify-content-end align-items-center">
                    <img class="comment-profile-img" src="{{ url_for('static', filename='images/img/profileimg-placeholder.jpg')}}" alt="">
                </div>
                <div class="col-lg-8 col-sm-4 col-6">
                    <div class="col">
                        <div class="user-info row">
                            <div class="col">
                                <p class="h6 comment-username">username</p>
                                <p class="h6 comment-post-date">posted date</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1 col-2"></div>
                    <div class="col">
                        <p class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus excepturi autem eos sint eligendi facilis aliquid quasi magnam temporibus nostrum voluptate suscipit cupiditate possimus repellendus nesciunt quod saepe, eaque culpa.</p>
                    </div>
                </div>
                <!-- Likes etc -->
                <div class="forum-ratings-container row mb-3 d-flex" style="justify-content: end;">
                    <div class="col-lg-1 col-2"></div>
                    <div class="forum-rating forum-rating col-2 d-flex justify-content-end">
                        <span class="forum-rating-button material-icons px-2"> thumb_up </span>
                        <span class="forum-rating-count">0</span>
                    </div>
                    <!-- <div class="col-1 d-flex justify-content-end">
                        <p class="h6">#</p>
                    </div> -->
                    <div class="forum-rating forum-rating col-2 d-flex justify-content-end">
                        <span class="forum-rating-button material-icons px-2"> thumb_down </span>
                        <span class="forum-rating-count">0</span>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
<div class="mb-5"></div>
{% endblock content %}
</body>
</html>