{% extends "base.html" %} {% block title %}Post{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcycle - Forum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Forum.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap">
    <link rel="shortcut icon" href="/src/img/Logo/NGOlogo.png" type="image/x-icon">

</head>

<body style="background-color: #F4F4F4;">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>


{% block content %}
<div class="mt-5"></div>
<!-- FORUM -->

<div class="container">
    <div class="row">
        <!-- LEFT column -->
        <div class="col-xl-3 col-lg-3 col-md-4 ">
            <div class="container">
                <div class="row">
                    <div class="space"></div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <p class="h1 forum-highlighted-left">Categories</p>
                        <div class="d-flex align-items-start">
                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-plastic-tab" data-bs-toggle="pill" data-bs-target="#v-pills-plastic" type="button" role="tab" aria-controls="v-pills-plastic" aria-selected="true">Plastic</button>
                            <button class="nav-link" id="v-pills-paper-tab" data-bs-toggle="pill" data-bs-target="#v-pills-paper" type="button" role="tab" aria-controls="v-pills-paper" aria-selected="false">Paper</button>
                            <button class="nav-link" id="v-pills-glass-tab" data-bs-toggle="pill" data-bs-target="#v-pills-glass" type="button" role="tab" aria-controls="v-pills-glass" aria-selected="false">Glass</button>
                            <button class="nav-link" id="v-pills-textile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-textile" type="button" role="tab" aria-controls="v-pills-textile" aria-selected="false">Textile</button>
                            <!-- WILL BE UPDATED -->
                            <!-- <button class="nav-link" id="v-pills-reduce-tab" data-bs-toggle="pill" data-bs-target="#v-pills-reduce" type="button" role="tab" aria-controls="v-pills-reduce" aria-selected="false">Reduce</button>
                            <button class="nav-link" id="v-pills-reuse-tab" data-bs-toggle="pill" data-bs-target="#v-pills-reuse" type="button" role="tab" aria-controls="v-pills-reuse" aria-selected="false">Reuse</button>
                            <button class="nav-link" id="v-pills-recycle-tab" data-bs-toggle="pill" data-bs-target="#v-pills-recycle" type="button" role="tab" aria-controls="v-pills-recycle" aria-selected="false">Recycle</button> -->
                            </div>
                        </div>
                        
                    <!-- <p class="h1 forum-highlighted-left">Tips</p>
                        <div class="d-flex align-items-start">
                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-reduce-tab" data-bs-toggle="pill" data-bs-target="#v-pills-reduce" type="button" role="tab" aria-controls="v-pills-reduce" aria-selected="true">Reduce</button>
                            <button class="nav-link" id="v-pills-reuse-tab" data-bs-toggle="pill" data-bs-target="#v-pills-reuse" type="button" role="tab" aria-controls="v-pills-reuse" aria-selected="false">Reuse</button>
                            <button class="nav-link" id="v-pills-recycle-tab" data-bs-toggle="pill" data-bs-target="#v-pills-recycle" type="button" role="tab" aria-controls="v-pills-recycle" aria-selected="false">Recycle</button>
                            </div>
                        </div>
            <p class="h1 forum-highlighted-left">Q&A Discussion</p>
            <ul class="tips Q&A forum">
                <li><a class="q-and-a" href="">All</a></li>
            </ul> -->
                </div>
            </div>

        </div>
        <!-- RIGHT column -->
        <div class="col-xl-9 col-lg-9 col-md-8">
            <div class="tab-content" id="v-pills-tabContent">
                <!-- PLASTIC -->
                <div class="tab-pane fade show active" id="v-pills-plastic" role="tabpanel" aria-labelledby="v-pills-plastic-tab" tabindex="0">
                    <div class="container">
                        <div class="row">
                            <div class="text-right">
                                <button class="btn btn-createnewtopic me-md-2 float-end">Create new topic</button>
                            </div>
                        </div>
                    </div>
                    <div class="container right-column">
                        <div class="row">
                            <button class="btn btn-topic">Plastic</button>
                        </div>
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <a href="/forumClicked" id="/forumClicked">
                                <div class="container" style="margin-left: 20px;">
                                    <div class="row">
                
                                        <div class="col">
                                            <div class="row title">Upcycled lamp</div>
                                            <div class="row category">Category Glass</div>
                                        </div>
                                        <div class="col">
                                            <div class="row author">by: 4Bids</div>
                                            <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                        </div>
                                        <div class="col">
                                            <div class="row comments">90 comments</div>
                                            <div class="row likes">728 likes</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                    </div>
                        <hr>
                        <!-- SUBTOPIC ENDS HERE -->
        
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <!-- SUBTOPIC ENDS HERE -->
        
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <!-- SUBTOPIC ENDS HERE -->
        
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <!-- SUBTOPIC ENDS HERE -->
        
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <!-- PAPER -->
                <div class="tab-pane fade" id="v-pills-paper" role="tabpanel" aria-labelledby="v-pills-paper-tab" tabindex="0">
                    <div class="container">
                        <div class="row">
                            <div class="text-right">
                                <button class="btn btn-createnewtopic me-md-2 float-end">Create new topic</button>
                            </div>
                        </div>
                    </div>
                    <div class="container right-column">
                        <div class="row">
                            <button class="btn btn-topic">Paper</button>
                        </div>
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <!-- SUBTOPIC ENDS HERE -->
        
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <!-- SUBTOPIC ENDS HERE -->
        
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <!-- SUBTOPIC ENDS HERE -->
        
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <!-- SUBTOPIC ENDS HERE -->
        
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <!-- GLASS -->
                <div class="tab-pane fade" id="v-pills-glass" role="tabpanel" aria-labelledby="v-pills-glass-tab" tabindex="0">
                    <div class="container">
                        <div class="row">
                            <div class="text-right">
                                <button class="btn btn-createnewtopic me-md-2 float-end">Create new topic</button>
                            </div>
                        </div>
                    </div>
                    <div class="container right-column">
                        <div class="row">
                            <button class="btn btn-topic">Glass</button>
                        </div>
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <!-- SUBTOPIC ENDS HERE -->
        
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <!-- SUBTOPIC ENDS HERE -->
        
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <!-- SUBTOPIC ENDS HERE -->
        
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <!-- SUBTOPIC ENDS HERE -->
        
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <!-- TEXTILE -->
                <div class="tab-pane fade" id="v-pills-textile" role="tabpanel" aria-labelledby="v-pills-textile-tab" tabindex="0">
                    <div class="container">
                        <div class="row">
                            <div class="text-right">
                                <button class="btn btn-createnewtopic me-md-2 float-end">Create new topic</button>
                            </div>
                        </div>
                    </div>
                    <div class="container right-column">
                        <div class="row">
                            <button class="btn btn-topic">Textile</button>
                        </div>
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <!-- SUBTOPIC ENDS HERE -->
        
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <!-- SUBTOPIC ENDS HERE -->
        
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <!-- SUBTOPIC ENDS HERE -->
        
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <!-- SUBTOPIC ENDS HERE -->
        
                        <!-- SUBTOPIC STARTS HERE -->
                        <div class="row row-of-every-topic">
                            <div class="container" style="margin-left: 20px;">
                            <div class="row">
        
                                <div class="col">
                                    <div class="row title">Upcycled lamp</div>
                                    <div class="row category">Category Glass</div>
                                </div>
                                <div class="col">
                                    <div class="row author">by: 4Bids</div>
                                    <div class="row date-time">June. 18, 2023 12:15 PM</div>
                                </div>
                                <div class="col">
                                    <div class="row comments">90 comments</div>
                                    <div class="row likes">728 likes</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-reduce" role="tabpanel" aria-labelledby="v-pills-reduce-tab" tabindex="0">
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

</body>
</html>
