{% extends "base.html" %} {% block title %}Categories{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcycle - Categories</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SRCategories.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap">
    <link rel="shortcut icon" href="/src/img/Logo/NGOlogo.png" type="image/x-icon">

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

{% block content %}
<!-- CONTENT -->
  <div class="col text-center m-3" >
    <p class="select-material h1">Select a Material</p>
  </div>

  <div class="banner-bg section p-5 text-center d-flex flex-wrap align-items-center" style="background-color: #6D5959;">
    <div class="container contain-card">
          <div class="row g-4">
            <!-- FIRST CARD STARTS HERE -->
            <div class="col-xl-3 col-md-6 col-12">
              <div class="card plastic border-0" style="color: white;">
                <div class="card-header" style="background-color: #FF527C;">
                  Plastic
                </div>
                <div class="card-body" style="background-color: #D24B6C;">
                  <div class="row d-flex flex-wrap align-items-center">
                    <div class="col-5">
                      <img src="/images/plastic_category.png" alt="">
                    </div>
                    <div class="col-7 ">
                      <ul>
                        <li>PET</li>
                        <li>PE-HD</li>
                        <li>PVC</li>
                        <li>PE-LD</li>
                        <li>PP</li>
                        <li>PS</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 col-12">
              <div class="card paper border-0" style="color: white;">
                <div class="card-header" style="background-color: #77BC41;">
                  Paper
                </div>
                <div class="card-body" style="background-color: #65A037;">
                  <div class="row d-flex flex-wrap align-items-center">
                    <div class="col-5">
                      <img src="/images/paper_category.png" alt="">
                    </div>
                    <div class="col-7 ">
                      <ul>
                        <li>Newspaper</li>
                        <li>Cardboard</li>
                        <li>Magazines</li>
                        <li>Catalogs</li>
                        <li>Corrugated Cardboard</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-xl-3 col-md-6 col-12">
              <div class="card textile border-0" style="color: white;">
                <div class="card-header" style="background-color: #FF9D2A;">
                  Textile
                </div>
                <div class="card-body" style="background-color: #DF8924;">
                  <div class="row d-flex flex-wrap align-items-center">
                    <div class="col-5">
                      <img src="/images/textile_category.png" alt="">
                    </div>
                    <div class="col-7 ">
                      <ul>
                        <li>Old clothes</li>
                        <li>Sheet</li>
                        <li>Towels</li>
                        <li>Blanket</li>
                        <li>Yarn</li>
                        <li>Stuffed Toy</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 col-12">
              <div class="card glass border-0" style="color: white;">
                <div class="card-header" style="background-color: #009BDE;">
                  Glass
                </div>
                <div class="card-body" style="background-color: #0781B7;">
                  <div class="row d-flex flex-wrap align-items-center">
                    <div class="col-5">
                      <img src="/images/glass_category.png" alt="">
                    </div>
                    <div class="col-7 ">
                      <ul>
                        <li>Glass Bottle</li>
                        <li>Glass Tiles</li>
                        <li>Light bulb</li>
                        <li>Mirrors</li>
                        <li>Pyrex Glass Container</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
{% endblock content %}
</body>
</html>



