/* CONTENT */
@media(width > 1200px){
    .banner-bg{
        height: 80vh;
    }
}
.banner-bg{
    border-radius: 20px 20px 0px 0px;
    background-blend-mode: normal;
    background-position: center top;
}
    /* FOR IMAGES INSIDE CARD */
    img{
        max-width:100%;
        max-height:100%;
    }
    ul li{
        text-align: start;
    }
div.card-body{
    padding-block: 70px;
}
